<!DOCTYPE html>
<!--[if IE 9]>
<html lang="en" class="ie9 no-js">
    <![endif]-->
    <!--[if !IE]><!-->
    <html lang="en">
        <!--<![endif]-->
        <!-- BEGIN HEAD -->
        <head>
            <meta charset="utf-8"/>
            <title>JANGO | Ultimate Multipurpose Bootstrap HTML Theme - Home Page - 1</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
            <meta http-equiv="Content-type" content="text/html; charset=utf-8">
            <meta content="" name="description"/>
            <meta content="" name="author"/>
            <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic-ext,greek-ext,cyrillic,latin-ext,vietnamese,greek' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>
            <link href="assets/plugins/socicon/socicon.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/animate/animate.min.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN: LAYOUT PLUGINS -->
            <link href="assets/plugins/revo-slider/css/settings.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css"/>
            <link href="assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css"/>
            <!-- END: LAYOUT PLUGINS -->
            <!-- BEGIN: PAGE STYLES -->
            <!-- END: PAGE STYLES -->
            <!-- BEGIN THEME STYLES -->
            <link href="assets/base/css/plugins.css" rel="stylesheet" type="text/css"/>
            <link href="assets/base/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
            <link href="assets/base/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css"/>
            <link href="assets/base/css/custom.css" rel="stylesheet" type="text/css"/>
            <!-- END THEME STYLES -->
            <link rel="shortcut icon" href="favicon.ico"/>
        </head>